.polygon-editor-container {
    padding: 1rem;
}

.drawing-area {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    overflow: hidden;
    position: relative;
}

svg {
    z-index: 10;
}

circle:hover {
    r: 1.5;
    stroke: white;
    stroke-width: 0.2;
}